:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

em {
  color: white;
}

.logo{
  display: flex;
  flex-direction: row;
  padding: 0 10%;
}

.logo p {
  color: white;
  margin: auto 20px;
}
.header {
  padding: 1% 15%;
}

.inverted-theme { 
  filter: invert(1) hue-rotate(180deg);
} 

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}


body {
    background-color: var(--bg-color);
    color: var(--font-color);

}

h1 {
    color: var(--secondary-color);

}

a {
    color: var(--primary-color);

}


.theme-switch-wrapper {
  display: flex;
  align-items: center;

}

.theme-switch-wrapper em {
	margin-left: 10px;
	font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-control{
  flex-direction: row;
}

.input-control > button{
  margin: 0 15px;
}

.colorPicker{
  height: 40px;
  margin: 0 0 0 10px ;
  vertical-align: middle;
}

.input{
  height: 40px;
  margin: 2px 0;
  font-size: 1rem;
  padding: 0 10px;
  border: solid 1px #6441A5;
  border-radius: 5px;
  background-color: #ddd;
  vertical-align: middle;
}