* {
  box-sizing: border-box;
  font-family: VT323, monospace;
  color: rgb(53, 53, 53);
}

body,
#root {
  margin: 0;
  background-color: #eee;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 12%;
  display: flex;
  align-items: center;
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
}

header > img {
  padding: 10px;
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 30px;
  margin-left: 40px;
}

.memeRoot{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  flex-grow: 1;
}

.meme {
  position: relative;
  flex-grow: 1;
  margin: auto 0;
}

.meme > img {
  width: 100%;
}

.meme-form {
  max-width: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 100px;  
  flex-direction: column;
  gap: 20px;
}

.meme-form > section {
  display: flex;
  font-size: 20px;
  height: 40px;
}

.meme-form .color-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.meme-form > input, 
.meme-form > section > input {
  height: 40px;
  margin: 2px 0;
}

.meme-form button {
  border: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #6441A5;
  font-weight: normal;
  text-transform: capitalize;
}

.custom-file-upload p {
  margin: 0;
  text-align: center;
  width: 100%;
}

.color-picker > label {
  font-size: 1rem;
}

.meme-form > button, 
.meme-form > input {
  width: 100%;
}

.meme-form > input {
  font-size: 1rem;
  padding: 0 10px;
  border: solid 1px #6441A5;
  border-radius: 5px;
  background-color: #ddd;
}

.meme-form > input:focus {
  box-shadow: 0 0 2px 1px #6441A5;
  outline: none;
}

canvas {
  border: 2px solid #6441A5;
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
}

input[type="file"] {
  display: none;
}

@media (max-width: 991.98px) {
  .memeRoot {
    flex-direction: column-reverse;
  }
  .meme-form {
    max-width: 100%;
    margin: 1.875rem 0;
  }
  canvas {
    max-width: 100%;
  }
}